ReceiverFactoryAdapter.Endpoints=tcp
ReceiverFactoryAdapter.AdapterId=ReceiverFactoryAdapter1
ReceiverFactoryAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

TransfersManager.Proxy=transfers_manager1 @ TransfersManagerAdapter1

Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000
TransferEventAdapter.Endpoints=tcp