TransfersManagerAdapter.Endpoints=tcp
TransfersManagerAdapter.AdapterId=TransfersManagerAdapter1
TransfersManagerAdapter.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

ReceiverFactory.Proxy=receiver_factory1 @ ReceiverFactoryAdapter1
SenderFactory.Proxy=sender_factory1 @ SenderFactoryAdapter1

Ice.Default.Locator=IceGrid/Locator -t:tcp -h 127.0.0.1 -p 9999

IceStorm.TopicManager.Proxy=IceStorm/TopicManager:tcp -p 10000